.EmissionList {
    display: flex;
    flex: 0 0 290px;
    overflow-y: scroll;
}

.Emission {
    display: flex;
    flex: 0 0 220px;
    flex-wrap: wrap;
    padding: 0em 1em;

}

.Emission__imageContainer {
    flex: 0 0 200px;
    height: 200px;
    border: 10px solid black;
}

.Emission__image {

}

.Emission__name {
    flex: 1 1 100%;
}

.Emission__date {
    flex: 1 1 100%;
}



