.EmissionList {
    display: flex;
    overflow-x: scroll;
}

.Emission {
    display: flex;
    flex-direction: column;
    flex: 0 0 220px;
    flex-wrap: wrap;
    padding-left: 2em;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 20px;
}

.Emission__imageContainer {
    flex: 0 0 200px;
    height: 200px;
    border: 2px solid black;
    background-color: #616161;
}

.Emission__image {
    width: 100%;
    height: 100%;
}

.Emission--featured .Emission__name {
    color: red;
}

.Emission__name {
    /*flex: 1 1 100%;*/
}

.Emission__name a {
    color: black;
}

.Emission__date {
    /*flex: 1 1 100%;*/
    opacity: 0.6;
    font-weight: 100;
}

.EmissionCalendar {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    margin: 0 1em 0 0;
    padding: 2em 0;
}

.AppContainer--mobile .EmissionCalendar {
    min-width: 100%;
    height: auto;
    margin: 0;
}

.EmissionCalendar__section {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: column;
    margin-bottom: 20px;
}

.EmissionCalendar__date {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin: 1em 0;

}

.EmissionCalendar__date > span {
    border-bottom: 2px solid black;
    padding-bottom: 4px;
}

.EmissionCalendar__container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.Emission--small {
    display: flex;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
}

.Emission--small .Emission__date {
    flex: 0 0 60px;
    font-weight: 100;
    opacity: 0.6;

}

.EmissionCalendar__title {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 0.5em;
    font-family: Space Mono;
    font-variation-settings: "wght" 800, "wdth" 400;
    transition: all 1s ease;
}

.EmissionCalendar__title:hover {
    font-variation-settings: "wght" 800, "wdth" 800;
}


