.LogoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 0;
}

.LogoContainer__link {

}

.LogoContainer__logo {
    width: 20vw;
    max-width: 200px;
}

.AppContainer--mobile .LogoContainer {
    padding: 1vh 0;
}
.AppContainer--mobile .LogoContainer__logo {
    width: 50vw;
}
