.MainPage {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
    padding: 0 2em;
    background-color: white;
}

.MainPage__main-article {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.MainPage__aside {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    border-left: 2px solid black;
    padding: 2em;

}

.MainPageAside__header {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 0.5em;
    flex: 0 0 auto;
    font-family: Space Mono;
    font-variation-settings: "wght"800, "wdth"400;
    transition: all 1s ease;
}

.MainPageAside__header:hover {
    font-variation-settings: "wght"800, "wdth"600;
}
