.NavigationBar {
    list-style: none;
    padding: 20px 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 22px;
}

.NavigationBar__li {
}

.NavigationBar__link {
    color: black;
    text-decoration: none;
    margin: 15px 0;
}

.NavigationBar__link--active {
    transform: rotate(-20deg);
    transform-origin: bottom left;
}

.NavigationBar__social {
    margin: 15px 0px;
}

.Social__link {
    text-decoration: none;
    color: inherit;
}

.Social__link svg {
    margin: 0;
}
