.NavigationBar {
    list-style: none;
    padding: 0 1em;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 22px;
}

.NavigationBar__li {
}

.NavigationBar__link {
    background-color: black;
    color: white;
    text-decoration: none;
    margin: 0 0 0.5em;
    border: 2px solid black;
    padding: 3px;
    text-align: center;
}

.NavigationBar__link:hover,
.NavigationBar__link--active {
    color: white;
    background-color: black;
}

.NavigationBar__social {
    margin: 15px 0px;
}

.Social__link {
    text-decoration: none;
    color: inherit;
}

.Social__link svg {
    margin: 0;
}
