.NavigationBar {
    list-style: none;
    padding: 20px 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 22px;
}

.NavigationBar__li {
}

.NavigationBar__link {
    text-decoration: none;
    margin: 0 0 8px;
    border-width: 4px;
    border-style: solid;
    padding-bottom: 5px;
    text-align: center;

}

.NavigationBar__social {
    margin: 15px 0px;
}

.Social__link {
    text-decoration: none;
    color: inherit;
}

.Social__link svg {
    margin: 0;
}
