.RadioBox {
    display: flex;
    padding: 20px;
    border: 8px solid black;
    flex-wrap: wrap;
    flex-direction: column;
}

.RadioBox__head {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    font-size: 1.5em;
}

.RadioBox__emission {
    display: flex;
    flex-direction: column;
}

.RadioBox__player {

}

.RadioBox .Emission__title {
    flex: 0 0 25px;
}

.RadioBox .Emission__sub-container {
    flex: 0 0 25px;
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
}

.RadioBox .Emission__subtitle {
    flex: 1;
    min-width: 0;
}

.RadioBox .Emission__date {
    flex: 0 0 50px;
    padding-left: 5px;
}
