.RadioBox {
    display: flex;
    padding: 20px 20px 0;
    border: 8px solid black;
    flex-wrap: wrap;
    flex-direction: column;
}

.RadioBox__head {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    font-size: 1.5em;
}

.RadioBox__emission {
    display: flex;
    flex-direction: column;
}

.RadioBox__player {
    text-align: center;
    margin: 6px;
}

.RadioBox__control:focus {
    outline: 0;
}

.RadioBox__control {
    font-size: 25px;
    border: 0;
    cursor: pointer;
    background: none;
}

.RadioBox .Emission__title {
    flex: 0 0 25px;
}

.RadioBox .Emission__sub-container {
    flex: 0 0 25px;
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
}

.RadioBox .Emission__subtitle {
    flex: 1;
    min-width: 0;
}

.RadioBox .Emission__date {
    flex: 0 0 50px;
    padding-left: 5px;
}

.RadioBox__redDot {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 20px;
    margin-left: 10px;
}
