.RadioBox {
    display: flex;
    padding: 20px 20px 0;
    border: 4px solid black;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
}

.AppContainer--mobile .RadioBox {
    position: sticky;
    top: 0;
    background: white;
    z-index: 9;
}

.RadioBox__head {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    font-size: 1.5em;
    max-width: 100%;
}

.RadioBox__emission {
    display: flex;
    flex-direction: column;
}

.RadioBox__player {
    text-align: center;
    margin: 6px;
}

.RadioBox__control:focus {
    outline: 0;
}

.RadioBox__control {
    font-size: 25px;
    border: 0;
    cursor: pointer;
    background: none;
    color: black;
}

.RadioBox__control--playing {
    color: black;
}

.RadioBox__control--disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.RadioBox .Emission__title {
    flex: 0 0 25px;
    width: 100%;
    overflow: hidden;
}

.RadioBox .Emission__sub-container {
    flex: 0 0 25px;
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
}

.RadioBox .Emission__subtitle {
    flex: 1;
    min-width: 0;
}

.RadioBox .Emission__date {
    flex: 0 0 50px;
    padding-left: 5px;
}

.RadioBox__blackDot {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 20px;
    margin-left: 10px;
}

.RadioBox__head-close {
    border: 0;
    font-size: 20px;
    font-weight: bold;
    color: grey;
    float: right;
    cursor: pointer;
    padding-top: 10px;
}


.RadioBox__external-box {
    max-width: 100%;
    flex: 1;
    padding-top: 1em;
}

.RadioBox__external-player {
    width: 100%;
}

.ExternalPlayer {
    position: absolute;
    z-index: 8;
    width: calc(95vw - 5px);
    background: white;
    text-align: center;
    bottom: 0 !important;
    left: 0;
    border-top: 4px solid black;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    overflow: hidden;
}

.AppContainer--mobile .ExternalPlayer {
    width: 100vw;
    border-bottom: 4px solid black;
}

.ExternalPlayer--hidden {
    display: none;
}

.ExternalPlayer__external-box {
    flex: 1;
}

.ExternalPlayer__head{
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ExternalPlayer__head-close{
    flex: 1;
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.ExternalPlayer--mixcloud {
    height: 68px;
}

.ExternalPlayer--soundcloud .ExternalPlayer__external-box {
    padding: 10px;
}

.AppContainer--mobile .ExternalPlayer {
    position: sticky;
}

.AppContainer--mobile .ExternalPlayer__head {
    flex: 0 0 32px;
}

/*@supports (-webkit-overflow-scrolling: touch) {*/
    /*.AppContainer--mobile .ExternalPlayer {*/
        /*bottom: 74px;*/
    /*}*/
/*}*/
