.ShopItemList {
    display: flex;
    flex-flow: row wrap;
    overflow-x: scroll;
    margin: auto;
}

.ShopItem {
    flex: 0 1 33.33%;
    box-sizing: border-box;
}

.ShopItem__innerContainer {
    border: 4px solid black;
    margin: 8px 8px 16px;
}

.ShopItem__imageContainer {
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 288px;
    overflow: hidden;
}

.ShopItem__imageContainer a {
    display: flex;
    align-items: center;
}

.ShopItem__linkButton {
    display: block;
    border-top: 4px solid black;
    padding: 4px;
    text-transform: uppercase;
    background: white;
    color: black !important;
    text-align: center;
}

.ShopItem__innerContainer:hover .ShopItem__linkButton, .ShopItem__linkButton:hover {
    background-color: black;
    color: white !important;
}

.MobileNavigator__content .ShopItem {
    width: 100%;
    margin: 0;
    border: solid black;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
}

@media(max-width:767px) {
    .ShopItemList {
        flex-direction: column;
    }

    .ShopItem {
        flex: 1;
    }

    .ShopItem__innerContainer {
        margin: 0;
        border: none;
    }
}
