# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# database
src/db/firebaseKey.js
**/.firebaserc

# misc
.DS_Store
.env.staging
.env.prod

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea

public/images/ignore/

\.firebase/
