.About {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 2em 1em 0;
}

.About__header {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    flex: 0 0 auto;
}

.About__article {
    padding: 0 30px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}

.About__article--1 {
    flex-direction: row-reverse;
    margin-right: 10vw;
}

.About__article--2 {
    padding-right: 10vw;
    margin-left: 10vw;
}

.About__articleBorder {
    position: absolute;
    /*top: 0;*/
    left: 0;
    width: 100%;
    /*height: 100%;*/
    border: 4px solid black;
    height: 80%;
    top: 10%;
}

.About__article--1 .About__articleBorder {
    height: 80%;
    top: 10%;
}

.About__imageContainer {
    flex: 0 0 200px;
    height: auto;
}

.About__text {
    flex: 1;
    margin: 35px 0;
    margin-left: 10px;
    text-align: justify;
}

.About__article--1 .About__text {
    margin-right: 10px;
    margin-left: 0;
}

.About__container {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.About__left {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 40vw;
}

.About__right {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 25vw;
}

.AppContainer--mobile .About__article {
    flex-direction: column;
}

.AppContainer--mobile .About__article--1 {
    flex-direction: column-reverse;
}

.AppContainer--mobile .About__article--2 {
    margin-left: 0;
    padding: 0 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.AppContainer--mobile .About__articleBorder {
    height: 90%;
}

.AppContainer--mobile .About__article--1 .About__articleBorder {
    top: 2%;
}

.Legal {
    padding: 0 4vw;
    text-align: justify;
}

.Legal h3 {
    font-size: 1.4em;
}

.Legal b {
    font-style: oblique;
}
