.Admin {
    display: flex;
    flex: 1;
    max-width: 70vw;
    flex-direction: column;
}

.AppContainer--mobile .Admin {
    max-width: 100vw;
}

.Admin__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 1em;
    max-width: 100%;
}

.Admin__navbar {
    z-index: 10;
    background: white;
}

.Admin__current {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 1em;
    max-width: 100%;
}

.CategoryAdminComponent {
    display: block;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

.CategoryAdminComponent__button {
    width: 100%;
}

.CategoryAdminComponent__button {
    margin-left: 1em;
}

.EmissionAdminComponent {
    display: block;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

.CategoryAdminComponent__form, .EmissionAdminComponent__form {
    margin-top: 2em;
}

.Admin__loginForm {
    padding: 1em;
    margin: auto 0;
}

.table__td--small {
    max-width: 5vw;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    height: 1.2em;
    white-space: nowrap;
}

.table__image {
    width: 100%;
    height: auto;
}
