.AppContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 auto;
    overflow-y: scroll;
    position: relative;
}

.AppContainer__footer {
    flex: 0 0 15px;
    text-align: left;
    font-size: 0.6em;
}

.AppContainer__body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 70vw;
    margin-top: -1px;
}

.AppContainer__body--mobile {
    width: 100vw;
}

.AppContainer__body--mobile > * {
    flex: 0 0 auto
}

.AppContainer__sideBar {
    background: white;
    flex: 1 0 auto;
    width: 26vw;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    margin: 0 2vw;
}

.AppContainer__sideBar--mobile {
    display: none;
}

.flex {
    display: flex;
}
.hidden {
    display: none;
}
.order0 {order:0}
.order1 {order:1}
.order2 {order:2}
.order3 {order:3}

.input--select {
    height: auto;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
