.AppContainer {
    display: flex;
    flex:1;
    background: red;
}

.AppContainer__sideBar {
    background: white;
    flex: 0 0 30vw;
    display: flex;
    flex-direction: column;
    padding: 0px 3vw;
}
