.Home {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 2em 0 0 1em;
}

.Home__secondTitle {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.Home__mainPage {
    flex: 1 1 100%;
}

.Home__bottom {
    margin: 1em 0 0;
}
