.Home {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1em 0;
}

.Home__secondTitle {

    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 1em;
    font-family: Bandeins Variable;
    font-variation-settings: "wght"800, "wdth"400;
    transition: all 1s ease;
    line-height: 1;
}

.Home__secondTitle:hover {
    font-variation-settings: "wght"800, "wdth"600;
}


.Home__mainPage {
    flex: 1 1 100%;
}

.Home__bottom {
    margin: 1.5em 0 0;
}