.MobileHome {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.MobileHome__secondTitle {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-left: 1em;
    font-family: Bandeins Variable;
    font-variation-settings: "wght"800, "wdth"400;
    transition: all 1s ease;
    line-height: 1;
    margin: 1em 0;
}

.MobileHome__mainPage {
    flex: 1 1 100%;
}

.MobileHome__bottom {
    margin: 1em 0 0;
}

.MobileHome__navigator {
    margin-top: 1em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom: 0;
    box-shadow: unset !important;
    border-radius: unset !important;
}

.MobileNavigator__title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: space-between !important;
    padding: 10px 1.4em !important;
    box-shadow: unset !important;
    border-radius: unset !important;
    font-family: Bandeins Variable;
    font-variation-settings: "wght"800, "wdth"200;
    transition: all 1s ease;
}

.MobileNavigator__content .EmissionCalendar__title {
    display: none;
}

.NewsBox__header {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    flex: 0 0 auto;
}

.MobileNavigator__content {
    margin: 0 1em;
    padding: 10px 0;
}

.MobileNavigator__item {
    border-bottom: 2px solid black;
}

.MobileNavigator__item--black {
    background-color: black;
}

.MobileNavigator__item--black * {
    color: white !important;
}

.MobileNavigator__item--white {
    background-color: white;
    color: black;
}

.MobileNavigator__item--white a {
    color: black;
}

.MobileNavigator__content .Archive {
    margin: 0;
}

.MobileNavigator__content .Archive__section {
    padding: 0;
}

.MobileNavigator__content .NewsBox {
    padding-bottom: 1em;
}

.MobileNavigator__content .Information {
    padding-bottom: 1em;
}

.MobileNavigator__content .MobileNavigator__shop {
    max-height: inherit !important;
}