.Shop {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 2em 1em 0 1em;
}

.Shop h2 {
    font-size: 22px;
    padding: 1em 0;
}

.MobileNavigator__content.MobileNavigator__shop {
    margin: 0;
}

.MobileNavigator__content .Shop {
    margin: 0;
}

.MobileNavigator__content .Shop h2 {
    margin: 0 1em;
    font-size: inherit;
    padding: inherit;
}
