.AppContainer {
    display: flex;
    flex:1;
    position: relative;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    /*font-family: sonarbold;*/
    /*src: url("/fonts/Sonar/Sonar-Bold.woff2") format('woff'2);*/
}

.AppContainer__footer {
    position: absolute;
    float: right;
    bottom: 0.3vw;
    right: 0.5vw;
    font-size: 0.6em;
}


.AppContainer__teaser {
    display: flex;
    flex: 1;
    position: relative;
    overflow: hidden;
    max-height: 100vh;
    height: 100vh;
    max-width: 100vw;
    width: 100vw;
    justify-content: center;
}

.Teaser {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Teaser__logo {
    width: 30vw;
    height: auto;
}

.Teaser__text {
    margin-top: 10vw;
}

.TurnTable {
    height: 40vw;
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(0deg);
    transform-origin: top left;
    z-index: -10;
}

.TurnTable__disk {
    height: 20vw;
    width: 200vw;
    margin-left: -20vw;
    margin-top: -11.5vw;
    border: 1.5vw solid black;
}

.Teaser__links {

}

.Teaser__icon {
    font-size: 2em;
    cursor: pointer;
    margin: 3px;
}

.Teaser__link {
    text-decoration: none;
    color: inherit;
}
