html, body {
    height: 100%;
    color: black;
}

.MainContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}

.MainContainer__body {
    display: flex;
    flex-direction: column;
    flex: 1;
}
